[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	owner = group Device Maintainers - Sprout
	read = group Device Maintainers - Sprout
	abandon = group Device Maintainers - Sprout
	create = group Device Maintainers - Sprout
	forgeAuthor = group Device Maintainers - Sprout
	forgeCommitter = group Device Maintainers - Sprout
	push = +force group Device Maintainers - Sprout
	pushMerge = group Device Maintainers - Sprout
	label-Code-Review = -2..+2 group Device Maintainers - Sprout
	label-Verified = -1..+1 group Device Maintainers - Sprout
	rebase = group Device Maintainers - Sprout
	submit = group Device Maintainers - Sprout
	editTopicName = +force group Device Maintainers - Sprout
[access "refs/*"]
	owner = group Device Maintainers - Sprout
	abandon = group Device Maintainers - Sprout
	forgeAuthor = group Device Maintainers - Sprout
	forgeCommitter = group Device Maintainers - Sprout
	pushMerge = group Device Maintainers - Sprout
	label-Code-Review = -2..+2 group Device Maintainers - Sprout
	label-Verified = -1..+1 group Device Maintainers - Sprout
	rebase = group Device Maintainers - Sprout
	submit = group Device Maintainers - Sprout
[receive]
	createNewChangeForAllNotInTarget = true
[submit]
	mergeContent = true
